<a href="https://colab.research.google.com/github/srishtivishnoi2102/DevsNest_DSA/blob/master/Count_of_Subset_Sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
def subset_sum(arr, sum, ci,counter):    #recursion
  if ci==len(arr):
    if sum==0:
      counter=counter+1
    return counter
  else:
    if sum<arr[ci]:
      counter= subset_sum(arr,sum,ci+1,counter)
    else:
      counter= subset_sum(arr,sum,ci+1,counter)
      counter= subset_sum(arr,sum-arr[ci],ci+1, counter) 
    return counter

In [30]:
arr=[2, 3,5,10,7,6,8]
sum=10
subset_sum(arr,sum,0,0)

4

In [39]:
def count_subset_sum(arr,sum):
  dp= [[0 for s in range(1+sum)] for _ in range(1+len(arr))]
  for n in range(len(dp)):
    dp[n][0]=1
    for s in range(1,len(dp[0])):
      if s<arr[n-1]:
        dp[n][s]=dp[n-1][s]                          #excluding
      else:
        dp[n][s]= dp[n-1][s] + dp[n-1][s-arr[n-1]]   #including +excluding
    print(dp[n])
  return dp[-1][-1]

In [43]:
arr=[1 , 2 , 3 , 5 , 7]
sum=7
count_subset_sum(arr,sum)

# s-->  [0, 1, 2, 3, 4, 5, 6, 7]

# 0->>  [1, 0, 0, 0, 0, 0, 0, 0]
# 1->>  [1, 1, 0, 0, 0, 0, 0, 0]
# 2->>  [1, 1, 1, 1, 0, 0, 0, 0]
# 3->>  [1, 1, 1, 2, 1, 1, 1, 0]
# 5->>  [1, 1, 1, 2, 1, 2, 2, 1]
# 7->>  [1, 1, 1, 2, 1, 2, 2, 2]

[1, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 2, 1, 1, 1, 0]
[1, 1, 1, 2, 1, 2, 2, 1]
[1, 1, 1, 2, 1, 2, 2, 2]

2